<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafe.jjdev.springboard.mapper.BoardMapper">
	<!-- 등록 -->
	<insert id="insertBoard"
			parameterType="cafe.jjdev.springboard.vo.Board">
			INSERT INTO board(
				board_pw,
				board_title,
				board_content,
				board_user,
				board_date
			) VALUES (
				${boardPw},
				${boardTitle},
				${boardContent},
				${boardUser},
				current_date()
			)
	</insert>
	<!-- 수정화면 및 상세보기 -->
	<select id="selectBoard"
			parameterType="int"
			resultType="cafe.jjdev.springboard.vo.Board">
			SELECT
				board_no as boardNo,
				board_pw as boardPw,
				board_title as boardTitle,
				board_content as boardContent,
				board_user as boardUser,
				board_date as boardDate
			FROM board
			WHERE board_no = #{boardNo}
	</select>
	<!-- 전체리스트 -->
	<select id="selectBoardList"
			parameterType="java.util.Map"
			resultType="cafe.jjdev.springboard.vo.Board">
			SELECT
				board_no as boardNo,
				board_title as boardTitle,
				board_content as boardContent,
				board_user as boardUser,
				board_date as boardDate
			FROM board
			ORDER BY board_date DESC
			LIMIT #{calPage}, #{rowPerPage}
	</select>
	<!-- 글의 갯수 -->
	<select id="selectBoardCount"
			resultType="int">
			SELECT
				COUNT(*)
			FROM board
	</select>
	<!-- 수정 -->
	<update id="updateBoard"
			parameterType="cafe.jjdev.springboard.vo.Board">
			UPDATE
				board
			SET
				board_title = #{boardTitle},
				board_content = #{boardContent}
			WHERE board_no = #{boardNo}
	</update>
	<!-- 삭제 -->
	<delete id="deleteBoard"
			parameterType="cafe.jjdev.springboard.vo.Board">
			DELETE FROM
				board
			WHERE board_no = #{boardNo}
	</delete>
</mapper>