<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 리스트</title>
<!-- jquery를 사용하기 위한 작성 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- 합쳐지고 최소화된 CSS -->
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css}">
<!-- 부가적인 테마 -->
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.theme.min.css}">
<!-- 합쳐치고 최소화된 자바스크립트 -->
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
<!-- 이동 확인 -->
<script>
	console.log("글 리스트");
</script>
</head>
<body>
<div class="container">
<h1> Spring board (글 리스트)</h1><br>
<a th:href="@{/boardAdd}">글 작성</a>
		<table class="table table-hover table-striped">
			<tr>
				<td>No</td>
				<td>제목</td>
				<td>작성자</td>
				<td>일자</td>
		
			</tr>
			<tr th:each="list : ${map.list}">
				<td th:text="${list.boardNo}"></td>
				<td>
					<a th:href="@{/boardDetail(boardNo = ${list.boardNo}, currentPage=${currentPage})}">
						<th:block th:text="${list.boardTitle}"></th:block>
					</a>
				</td>
				<td th:text="${list.boardUser}"></td>
				<td th:text="${list.boardDate}"></td>
			</tr>
		</table>
	<div class="col-md-offset-3">
		<ul class="pagination">
		<li><a th:href="@{/boardList}">처음</a></li>
		<li><span th:if="${currentPage <= 1 }" >
		이전
		</span></li>
		<li><span th:unless="${currentPage <= 1 }" >
		<a th:href="@{/boardList(currentPage = ${currentPage - 1})}">이전</a>
		</span></li>
		<li><span th:if="${currentPage >= map.lastPage}" >
		다음
		</span></li>
		<li><span th:unless="${currentPage >= map.lastPage}" >
		<a th:href="@{/boardList(currentPage = ${currentPage + 1})}">다음</a>
		</span></li>
		<li><a th:href="@{/boardList(currentPage = ${map.lastPage})}">마지막</a></li>
		</ul>
	</div>
</div>
</body>
</html>