<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
<meta charset="UTF-8">
<title>글 수정화면</title>

<!-- 합쳐지고 최소화된 CSS -->
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css}">
<!-- 부가적인 테마 -->
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.theme.min.css}">
<!-- 합쳐치고 최소화된 자바스크립트 -->
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container form-group">
<h1> boardUpdate (글 수정화면)</h1>
	<form action="/boardUpdate" method="post">
		<input type="hidden" name="boardNo" th:value="${list.boardNo}">
	  	<label class="control-label">No :</label> 
	  		<th:block th:text="${list.boardNo}">
			</th:block><br>
	    <label class="control-label">제목</label>
	    	<input type="text" name="boardTitle" th:value="${list.boardTitle}" class="form-control"/><br>
	    <label class="control-label">내용</label>
	    	<input type="text" name="boardContent" th:value="${list.boardContent}" class="form-control"/><br>
	    	<input type="submit" value="수정" />
	</form>
	<br>
	<a th:href="@{/boardDetail(boardNo = ${list.boardNo}, currentPage=${currentPage})}">상세정보로 돌아가기</a>
</div>
</body>
</html>