<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
<meta charset="UTF-8">
<title>글 상세 정보</title>
<!-- jquery를 사용하기 위한 작성 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- 합쳐지고 최소화된 CSS -->
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css}">
<!-- 부가적인 테마 -->
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.theme.min.css}">
<!-- 합쳐치고 최소화된 자바스크립트 -->
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
<!-- 이동 확인 -->
<script>
	console.log("글 상세 정보");
</script>
</head>
<body>
<div class="container">
<h1> boardDatail (글 상세정보)</h1>
	<ul>
		<li>No : 
			<th:block th:text="${list.boardNo}">
			</th:block>
		</li>
		<li>제목 : 
			<th:block th:text="${list.boardTitle}">
			</th:block>
		</li>
		<li>내용 :
			<th:block th:text="${list.boardContent}">
			</th:block>
		</li>
		<li>작성자 :
			<th:block th:text="${list.boardUser}">
			</th:block>
		</li>
		<li>일자 :
			<th:block th:text="${list.boardDate}">
			</th:block>
		</li>
	</ul>
	<a th:href="@{/boardUpdate(boardNo=${list.boardNo}, currentPage=${currentPage})}">수정</a>&nbsp;&nbsp;&nbsp;
	<a th:href="@{/boardDelete(boardNo=${list.boardNo}, currentPage=${currentPage})}">삭제</a><br>
	<a th:href="@{/boardList(currentPage=${currentPage})}">리스트로 돌아가기</a>
</div>
</body>
</html>